.doctor-detail-container{
    height: 350px;
    border: 1px solid red;
    margin: 0 100px;
    .intro-doctor{
        display: flex;
        border: 1px solid grey;
        .content-left{
            border: 1px solid forestgreen;
            background: center center no-repeat;
            width: 200px;
            background-repeat: no-repeat;
            background-size: contain, cover;
            height: 200px;
            border-radius: 50%;
            margin: 10px 20px;
        }
        .content-right{
            width: 70%;
            border: 1px solid yellow;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up{
                font-size: 20px;
                font-weight: 600;
                padding-top: 10px;
            }
            .down{
                padding-top: 10px;
            }
        }
    }
}