.doctor-detail-container {
  height: auto;
  margin: 0 100px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;

  .intro-doctor {
      display: flex;

      .content-left {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin: 10px 20px;
          background: center center no-repeat;
          width: 200px;
          background-repeat: no-repeat;
              background-size: contain, cover;
          overflow: hidden;

          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
      }

      .content-right {
          width: calc(100% - 220px);
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 20px;
          line-height: normal;

          .up {
              font-size: 24px;
              font-weight: 600;
              margin-bottom: 10px;
          }

          .down {
              font-size: 14px;
              color: #666;
          }
      }
  }

  .schedule-doctor {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
      min-height: 350px;

      .content-left{
        width: 59%;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        min-height: 320px;
      }
      .content-right {
          width: 39%;
          padding: 20px;
          border: 1px solid #ddd;
          border-radius: 5px;
          background-color: #f9f9f9;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
  }

  
  .detail-infor-doctor {
      padding: 20px;
      margin-top: 30px;
      border-radius: 5px;
      background-color: #f9f9f9;

      h3 {
          font-size: 18px;
          margin-bottom: 10px;
      }

      p {
          font-size: 16px;
          line-height: 1.5;
          color: #333;
      }
  }

  .comment-doctor {
      margin-top: 30px;
      padding: 20px;
      border-radius: 5px;
      background-color: #f9f9f9;
  }
}
@media (max-width: 768px) {
    .doctor-detail-container {
        margin: 0 20px;
    

    .intro-doctor {
        flex-direction: column;
        align-items: center;

        .content-left {
            width: 100%;
            height: 150px;
            margin: 10px;
        }

        .content-right {
            width: 100%;
            padding-left: 0;
            text-align: center;
        }
    }

    .schedule-doctor {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .content-left,
        .content-right {
            width: 100%;
            margin: 10px 0;
        }
    }
}
}

