.manage-doctor-container {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  
    .manage-doctor-title {
      text-align: center;
      margin: 15px 0;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 700;
      color: #0071ba;
      
    }
  
    .save-content-doctor {
      margin-top: 20px;
      margin-bottom: 30px;
      border: none;
      padding: 10px 20px;
      background: #ff8c00;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #e07e00;
      }
    }
  

    .create-content-doctor {
      margin-top: 20px;
      margin-bottom: 30px;
      border: none;
      padding: 10px 20px;
      background: blue;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #e07e00;
      }
    }
  

    .more-info {
      display: flex;
      gap: 20px;
      padding-bottom: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
      .content-left {
        width: 40%;
        margin-bottom: 30px;
        label {
          display: block;
          margin-bottom: 10px;
          font-weight: 500;
          color: #333;
          margin-bottom: 20px;
        }
      }

  
      .content-right {
        width: 60%;
  
        label {
          display: block;
          margin-bottom: 10px;
          font-weight: 500;
          color: #333;
          margin-bottom: 20px;
        }

     
  
        textarea {
          width: 100%;
          height: 120px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 8px;
          resize: vertical;
          font-size: 14px;
          color: #555;
          transition: border-color 0.3s;
  
          &:focus {
            border-color: #0071ba;
          }
        }
      }
    }

    .more-info-extra {
      margin-bottom: 20px;
     
    
        label {
          display: block;
          margin-bottom: 10px;
          font-weight: 500;
          color: #333;
          margin-top: 10px;
        }
    
        input,
        select {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 8px;
          font-size: 14px;
          color: #555;
          transition: border-color 0.3s;
    
          &:focus {
            border-color: #0071ba;
          }
        }
      }
    }
  
  