.user-redux-container {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;

  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
  }

  .user-redux-body {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .container {
      .row {
        .col-12 {
          margin-bottom: 20px;
          font-size: 20px;
          font-weight: bold;
        }

        .col-3 {
          label {
            display: block;
            margin-bottom: 8px;
            color: #555;
          }

          .form-group {
            .col-sm-12 {
              input,
              select {
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                margin-bottom: 16px;
                border: 1px solid #ddd;
                border-radius: 4px;
              }

              select {
                cursor: pointer;
              }
            }
          }
        }

        .col-9 {
          .form-group {
            .col-sm-12 {
              margin-top: 8px;
              input {
                padding: 10px;
                box-sizing: border-box;
                margin-bottom: 16px;
                border: 1px solid #ddd;
                border-radius: 4px;
              }
            }
          }
        }

        .label-upload {
          padding: 5px;
          border-radius: 3px;
          background: #ddd;
          cursor: pointer;
          text-align: center;
          transition: background-color 0.3s ease; /* Smooth transition over 0.3 seconds */

          &:hover {
            background-color: #a0a0a0; /* Change the background color on hover */
          }
        }

        .preview-image {
          height: 50px;
          width: 100%;
          background: center center no-repeat;
          background-size: contain;
          border: 1px solid #ddd;
          cursor: pointer;
        }

        .col-12.mt-3 {
          button {
            background-color: #28a745;
            color: #fff;
            padding-left: 12px;
            padding-right: 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
              background-color: #218838;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .user-redux-container {
      padding: 10px;
    }

    .title {
      font-size: x-large;
    }

    .user-redux-body {
      .container {
        .row {
          .col-12 {
            font-size: 18px;
          }

          .col-3,
          .col-9 {
            width: 100%;
          }
        }
      }
    }
  }
}
