.verify-email-container {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
  
}

.verify-email {
    text-align: center;
 
}

.infor-booking {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    text-transform: uppercase;
    color: #3498db;
}