// styles.scss

// Define general styles for the user-container
.user-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

// Style the title
.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

// Style the user-table
.user-table {
  margin-top: 15px;
}

// Style the table
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

// Style table header
th {
  background-color: #83929c;
  color: #fff;
  padding: 10px;
  text-align: left;
}

// Style table rows
tr {
  &:nth-child(even) {
    background-color: #f9f9f9;
  }

  &:hover {
    background-color: #e0e0e0;
  }
}

// Style table cells
td {
  padding: 10px;
}

// Style buttons
.btn-edit {
  width: 50px;
  background-color: #2ecc71;
  color: #ccc;
  border: none;
  padding: 8px;
  margin-right: 5px;
  outline: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    background-color:transparent !important;
    color: #2ecc71 !important;
  }
}
.btn-delete {
  width: 50px;
  background-color: #cc2e2e;
  color: #ccc;
  border: none;
  padding: 8px;
  margin-right: 5px;
  outline: none;
  background: transparent;
  cursor: pointer;

  &:hover {
    background-color:transparent !important;
    color: #cc2e2e !important;
  }
}

$primary-color: #1b222b; // Change this to your desired primary color

.Form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #0c0f11; // Change this to your desired background color
  border: 1px solid #172f47;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .FormGroup {
    margin-bottom: 20px;

    Label {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }

    Input,
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ced4da;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 14px;

      &:focus {
        border-color: $primary-color;
        outline: none;
        box-shadow: 0 0 5px rgba($primary-color, 0.5);
      }
    }
  }

  Button {
    background-color: $primary-color;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}